.sayfa{
    width: 0 auto;
    margin: 0 auto;
}
 
.sliderKonum{
    position: relative;
    width: 1200px;
    height: 1500px;
    overflow: hidden;
}
.img-bir{left: 0px;}
.img-iki{left: 600px;}
.img-uc{left: 1200px;}
.img-dort{left:1800px;}
.img-alti{left:600px;}
.img-yedi{left:1200px;}

.sliderKonum > 
.slider{
    position: absolute;
    left:0px;
    width: 100000px;
    height: 100000px;
    -webkit-animation-duration: 10s;
    -webkit-animation-name: sliders;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-duration: 10s;
    -moz-animation-name: sliders;
    -moz-animation-iteration-count:infinite;
    -ms-animation-duration: 10s;
    -ms-animation-name: sliders;
    -ms-animation-iteration-count:infinite;
    animation-duration: 10s;
    animation-iteration-count:infinite;
  }
  @-webkit-keyframes sliders{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-1200px;}
    30% {left:-600px;}
    40% {left:-1200px;}
    50% {left:-600px;}
  }
  @-moz-keyframes sliders{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-600px;}
    30% {left:-600px;}
    40% {left:-1200px;}
    50% {left:-1200px;}
  }
  @-ms-keyframes sliders {
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-600px;}
    30% {left:-600px;}
    40% {left:-1200px;}
    50% {left:-1200px;}
  }
  @keyframes sliders{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:-600px;}
    30% {left:-600px;}
    40% {left:-1200px;}
    50% {left:-1200px;}
  }
 
